INFORMACIÓN GENERAL

DATOS PERSONALES

NOMBRE: Magdeleine Loaiza Galindo. 
FECHA DE NACIMIENTO: 3 de junio de 1988.
LUGAR DE NACIMIENTO: Tuluà (Valle del Cauca).

ESTADO CIVIL: Soltera.
DIRECCIÓN:    Zaragoza España
TELÉFONOS:    631264282
E-MAIL:        made17-88@hotmail.com.


FORMACIÓN ACADÉMICA

Estudios Primarios:     Escuela Santa Teresita, Tuluà, Valle del cauca.
Estudios Secundarios:   Colegio Cooperativo Policarpa salavarrieta, Bachillerato básico, Tuluà, Valle del cauca.
Bachillerato Académico: Instituto técnico Real Holandés, Cali, Valle del cauca.

Universitarios:         Fundación Universitaria San Martín. 
                        Ingeniera de Sistemas. 
                        Ipiales, Nariño 
                      
Postgrado:              Magister en gestion de las Tecnologias de la Informaciòn
                        Universidad Nacional Abierta y a Distacia UNAD
                        Cali, COLOMBIA


SEMINARIOS Y OTROS

•   Auxiliar digitador y operador de sistemas.
Centro internacional de estudios World study.

•   Seminario   taller   de   Mantenimiento   y   Reparación   de   computadores.
Duración 20 horas, Fundación Universitaria San Martín sede Ipiales

•   Seminario, Formulación y Gestión de proyectos.
Escuela Superior de Administración Pública ESAP

•   Seminario, Contratación Pública.
Escuela Superior de Administración Pública ESAP

•   5to. Seminario de Archivos y Gestión Documental.
Aplicación norma 15489, gestión electrónica de documentos, manejo básico de historias clínicas y ajustes a tablas de retención documental, Con una intensidad de 24 horas, Cinar Sistemas, Centro de formación Técnica.

•   Conferencia Competencias empresariales
Fundación Universitaria San Martín sede Ipiales

•	Capacitación empresarial la cultura del servicio diferenciador que genera utilidades.
Fundación Universitaria San Martín sede Ipiales.

•	Curso  de  la  acción de  formación,  Contabilidad  General  II.  Duración  50 horas, El Servicio Nacional de Aprendizaje SENA.

•	Certificado, charla intensiva de asesoría comercial y técnica de productos requeridos para implementación de transmisión de información, MARTEL CIA LTDA en la ciudad de Quito – Ecuador

•	Curso de ingles práctico conversacional, tres (3) niveles. Básico, Intermedio y  Avanzado  con  una  intensidad  de  540  horas  en  los  tres  niveles, CULTURAL ENGLISH INSTITUTE, Ipiales - Nariño. 

EXPERIENCIA LABORAL

IKONOTECH - (proyecto TERADATA - COPAAIR LINES)
Cargo: Ingeniera de Implementación
Funciones: Administración de bases de datos Teradata, manejo en SQL server, implementación de bases de datos, ejecución de querys sql para la gestión y análisis de datos.
Ciudad: Bogota – trabajo remoto 
Jefe inmediato: Alejandro Hernández
Teléfono: 3186198569
Tiempo:
20- 02- 2017 – 30-11-2018
21 meses

IKONOTECH - (WINCOR NIXDORF)
Cargo: Técnico de campo nivel 2
Funciones: mantenimiento preventivo y correctivo de cajeros electrónicos, cajeros de grupo aval, Bancolombia y BBVA.
Ciudad: Cali (Valle del Cauca)
Jefe inmediato: Alexander Rojas
Teléfono: 3204640059


PROYECTO MUJERES AHORRADORAS EN ACCION 2014 DPS(Departamento para la prosperidad social) – COMFANDI
Cargo: Capacitadora proyecto mujeres ahorradoras en el Municipio de Candelaria Valle del Cauca
Funciones: capacitación y motivación equidad de género, finanzas y la importancia del Ahorro a mujeres en situación de vulnerabilidad y en situación de desplazamiento, permitiéndoles realizar su plan de inversión a la unidad productiva de las mujeres para el mejoramiento de los negocio de cada una de ellas contribuyendo a la superación de la pobreza extrema en el Municipio de Candelaria Valle del Cauca
Jefe Inmediato: Luis Esteban Valencia
Teléfono: 3017527357

PROYECTO MUJERES AHORRADORAS EN ACCION 2013 DPS(Departamento para la prosperidad social) – COMFANDI
Cargo: Capacitadora proyecto mujeres ahorradoras en la ciudad de Barrancabermeja
Funciones: capacitación y motivación equidad de género, finanzas y la importancia del Ahorro a mujeres en situación de vulnerabilidad y en situación de desplazamiento de la ciudad de Barrancabermeja incluyéndolas al sector financiero y asegurándolas a través de seguros de vida acorde a su situación socioeconómica e inculcando la concientizando a cada una de las mujeres a valoraren y a que tengan muy en cuenta lo importante que es llevar una organización en su negocio y lo importante que es para la vida laboral y personal tener un ahorro para cumplir unas metas determinadas.
Jefe Inmediato: Yuri Marcela Agudelo Lafaux
Teléfono: 3138129117

CENTRO EDUCATIVO SAN FRANCISCO DE ASÍS.
Cargo: Asesora de sistemas
Funciones: asesoría en sistemas y capacitaciones al personal en el área de sistemas, administración y gestión de ingreso de estudiantes al SIMAT. Directora: Josefina Guevara
Teléfono: 3157284091 Ipiales (Nariño).

CINAR SISTEMAS
Cargo: Docente de sistemas
Funciones: Tutorías informáticas a personas indígenas, programa técnico en sistemas
Lugar: Cumbal (Nariño)

TESIS O PROYECTO DE GRADO
Desarrollo de software, sistema web administra y operativo del Gimnasio Olimpia
Administradora: Nancy Játiva verdugo
Lugar: Ipiales (Nariño)


INDEPENDIENTE

Cargo: Tutor, Clases Personalizadas
Ciudad: Tuluá (Valle del Cauca)


REFERENCIAS


Administradora de Empresas, 
Daniela León García 
Teléfono: 3186852886 
Manizales (Caldas) Colombia

Trabajadora social, 
Yuri Marcela Agudelo Lafaux
Labora en área social del proyecto vía magdalena
Teléfono: 3138129117
Puerto Berrio (Antioquia) Colombia

Psicólogo: Luis Esteban Valencia
Teléfono: 6631901
Cali Valle del Cauca, Colombia

Jose Hernan Loaiza
Comerciante
Celular: 3165304585
Tuluá valle del cauca, Colombia




CERTIFICACIÓN:

Para efectos legales certifico que los datos anotados por mí en la presente Hoja de Vida son veraces y pueden ser verificados.






MAGDELEINE LOAIZA GALINDO
T.P 52.........NRÑ Ingeniera de Sistemas
