INFORMACIÓN GENERAL




DATOS PERSONALES


NOMBRE                                     Magdeleine Loaiza Galindo. DOCUMENTO DE IDENTIDAD  1.085.908.563 Ipiales (Nariño). FECHA DE NACIMIENTO          3 de junio de 1988.
LUGAR DE NACIMIENTO          Tuluà (Valle del Cauca).

ESTADO CIVIL                            Soltera.

DIRECCIÓN                                 Manzana 16 casa 35 Bosque de Maracaibo

TELÉFONOS                               3172589216

E-MAIL                                        made17-88@hotmail.com.


FORMACIÓN ACADÉMICA


Estudios Primarios:                   Escuela Santa Teresita
Tuluà, Valle del cauca.

Estudios Secundarios:              Colegio Cooperativo Policarpa salavarrieta
Bachillerato básico
Tuluà, Valle del cauca.

Instituto técnico Real Holandés
Bachillerato Académico
Cali, Valle del cauca.

Universitarios:                        Fundación Universitaria San Martín.

Ingeniera de Sistemas. Ipiales, Nariño 






SEMINARIOS Y OTROS



•   Auxiliar digitador y operador de sistemas.
Centro internacional de estudios World study.

•   Seminario   taller   de   Mantenimiento   y   Reparación   de   computadores.
Duración 20 horas, Fundación Universitaria San Martín sede Ipiales

•   Seminario, Formulación y Gestión de proyectos.
Escuela Superior de Administración Pública ESAP

•   Seminario, Contratación Pública.
Escuela Superior de Administración Pública ESAP

•   5to. Seminario de Archivos y Gestión Documental.
Aplicación norma 15489, gestión electrónica de documentos, manejo básico de historias clínicas y ajustes a tablas de retención documental, Con una intensidad de 24 horas, Cinar Sistemas, Centro de formación Técnica.

•   Conferencia Competencias empresariales
Fundación Universitaria San Martín sede Ipiales

•	Capacitación empresarial la cultura del servicio diferenciador que genera utilidades.
Fundación Universitaria San Martín sede Ipiales.

•	Curso  de  la  acción de  formación,  Contabilidad  General  II.  Duración  50 horas, El Servicio Nacional de Aprendizaje SENA.

•	Certificado, charla intensiva de asesoría comercial y técnica de productos requeridos para implementación de transmisión de información, MARTEL CIA LTDA en la ciudad de Quito – Ecuador

•	Curso de ingles práctico conversacional, tres (3) niveles. Básico, Intermedio y  Avanzado  con  una  intensidad  de  540  horas  en  los  tres  niveles, CULTURAL ENGLISH INSTITUTE, Ipiales - Nariño. 

EXPERIENCIA LABORAL


PROYECTO MUJERES AHORRADORAS EN ACCION 2013
DPS(Departamento para la prosperidad social) – COMFANDI


Cargo:   Capacitadora   proyecto   mujeres   ahorradoras   en   la   ciudad   de
Barrancabermeja
Funciones: capacitación y motivación equidad de género, finanzas y la importancia del Ahorro a mujeres en situación de vulnerabilidad y en situación de desplazamiento de la ciudad de Barrancabermeja incluyéndolas al sector financiero y asegurándolas a través de seguros de vida acorde a su situación socioeconómica e inculcando la concientizando a cada una de las mujeres a valoraren y a que tengan muy en cuenta lo importante que es llevar una organización en su negocio y lo importante que es para la vida laboral y personal tener un ahorro para cumplir unas metas determinadas.
Jefe Inmediato: Yuri Marcela Agudelo Lafaux
Teléfono: 3138129117


Se adjunta contrato laboral.


PROYECTO MUJERES AHORRADORAS EN ACCION 2014
DPS(Departamento para la prosperidad social) – COMFANDI


Cargo:   Capacitadora   proyecto   mujeres   ahorradoras   en   el   Municipio   de
Candelaria Valle del Cauca
Funciones: capacitación y motivación equidad de género, finanzas y la importancia del Ahorro a mujeres en situación de vulnerabilidad y en situación de desplazamiento, permitiéndoles realizar su plan de inversión a la unidad productiva de las mujeres para el mejoramiento de los negocio de cada una de ellas contribuyendo a la superación de la pobreza extrema   en el Municipio de Candelaria Valle del Cauca
Jefe Inmediato: Luis Esteban Valencia
Teléfono: 3017527357


Se adjunta contrato laboral.


BEBIDAS QUEEN Cargo: Operaria Tiempo: 3 meses Jefe: Jorge Velásquez
Teléfono: 3105440930 


FUNDACIÓN CAMINOS DE VIDA.

Cargo: Capacitadora y Asesora de Sistemas, gestión documental.
Funciones: capacitación a usuarios, manejo de documentación interna de la fundación y tutorías informáticas a personas vulneradas por la violencia y madres cabeza de familia.
Jefe Inmediato: Francy Bianeth Vargas Loaiza
Teléfono: 2301323 - 3155065557 Tuluà (Valle del cauca)
CENTRO EDUCATIVO SAN FRANCISCO DE ASÍS. Cargo: Asesora de sistemas
Funciones: asesoría en sistemas y capacitaciones al personal en el área de
Sistemas.
Directora: Josefina Guevara
Teléfono: 3157284091 Ipiales (Nariño).

CINAR SISTEMAS

Cargo: Docente de sistemas
Funciones:  Tutorías  informáticas  a  personas  indígenas,  programa  técnico  en sistemas
Lugar: cumbal (Nariño)



TESIS O PROYECTO DE GRADO
Desarrollo de software, sistema web administra y operativo del Gimnasio Olimpia
Administradora: Nancy Játiva verdugo
Lugar: Ipiales (Nariño)



INDEPENDIENTE

Cargo: Tutor, Clases Personalizadas
Teléfono: 3172589216
Ciudad: Tuluá (Valle del Cauca)
IKONOTECH - (WINCOR NIXDORF) Cargo: Técnico de campo nivel 2
Ciudad: Cali (Valle del Cauca) Estado: actualmente trabajando Adjunto carta laboral 

REFERENCIAS


Psicólogo: Luis Esteban Valencia
Coordinador local Valle del Cauca Proyecto Mujeres Ahorradoras en Accion
Telefono: 6631901
Cali Valle del Cauca



Trabajadora social, Yuri Marcela Agudelo Lafaux
Teléfono: 3138129117
Barrancabermeja (Santander).

Administradora de Empresas, Elizabeth Josefina Guevara
Teléfono: 7254982 – 3044083021 Ipiales (Nariño).










































CERTIFICACIÓN:

Para efectos legales certifico que los datos anotados por mí en la presente Hoja de Vida son veraces y pueden ser verificados.












MAGDELEINE LOAIZA GALINDO
1.085.908.563 Ipiales (Nariño) T.P 52255207856NRÑ Ingeniera de Sistemas
